.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  img {
    width: 100%;
  }
  h4 {
    margin-bottom: 0px;
    font-family: "Times New Roman", Times, serif;
  }
}
