.address {
  font-family: "Times New Roman", Times, serif;
  .address-form {
    border: 1px solid rgb(230, 230, 230);
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .wrapper-btn {
    button {
      margin-right: 1rem;
    }
  }
}
